{% extends 'base.html' %}
{% block title %}Список покупок{% endblock %}
{% load static %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% include 'includes/navigation.html' %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
        {% csrf_token %}
    {% for purchase in purchases %}
        {% with purchase.recipe as recipe %}
            <li class="shopping-list__item" data-id="{{ recipe.id }}">
                <div class="recipe recipe_reverse">
                {% load thumbnail %}
                {% thumbnail recipe.image "90x90" crop="center" upscale=True as im %}
                    <img src="{{ im.url }}" alt="{{ recipe.title }}" class="recipe__image recipe__image_big">
                    {% endthumbnail %}
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cook_time }} мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
        {% endwith %}
    {% endfor %}

        </ul>
        <a href="#"><button class="button button_style_blue">Скачать список</button></a>
    </div>
</main>
{% endblock %}
{% include 'includes/footer.html' %}
{% block script %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}
