{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}
{% load static  %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block content %}
<main class="main container">
{% if validlink %}
    <div class="main__header">
        <h1 class="main__title">Введите новый пароль</h1>
    </div>

    <div class="form-container">

        <form class="form" method="post">

            {% csrf_token %}

            {% for field in form %}
                {% include 'includes/form group.html' %}
            {% endfor %}

            <div class="form__footer">
                <button class="button button_style_blue">Назначить новый пароль</button>

            </div>

        </form>

    </div>
{% else %}
    <div class="main__header">
        <h1 class="main__title">Ошибка</h1>
    </div>

    <div class="custom-center-block">

        <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>

        <div class="custom-button-block">
            <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>

        </div>

    </div>
{% endif %}
</main>
{% endblock %}