{% extends "base.html" %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}
{% load static %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
{% block content %}
<main class="main container">

    <div class="main__header">
        <h1 class="main__title">Сброс пароля прошёл успешно</h1>
    </div>

    <div class="custom-center-block">

        <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>

        <div class="custom-button-block">
            <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>

        </div>

    </div>

</main>
{% endblock %}