{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% load static %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'pages/index.css' %}">{% endblock %}
{% block content %}
<main class="main container">

    <div class="main__header">
        <h1 class="main__title">Об авторе</h1>
    </div>

    <div class="custom-center-block">

        <a class="custom-text-block" href="https://github.com/khmaker">Страница автора на GitHub</a>

        <div class="custom-button-block">
            <a href=""><button class="button button_style_blue">Перейти на главную</button></a>

        </div>

    </div>

</main>
{% endblock %}